@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('../font/PyeongChangPeace-Light.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('../font/PyeongChangPeace-Bold.otf') format('woff2');
    /* font-weight: 300; */
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('../font/GmarketSansLight.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('../font/GmarketSansMedium.otf') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansBold';
        src: url('../font/GmarketSansBold.otf') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Bold.otf');
        font-weight: 700;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Light.otf');
        font-weight: 300;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Regular.otf');
        font-weight: 400;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Medium.otf');
        font-weight: 500;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 490px) {
     .CGmain {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* position: relative; */
        width: 100%;
        height: 100vh;
        flex-grow: 1;
        background-color:#393939;
        position:relative;
        /* padding:15px; */
        position: fixed;
        overflow: hidden;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        top: 0;
        left: 0;
        align-content:space-around;
    }
    .CGstatus{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex:0.7;
    }
    .CGmainText{
        margin-top: 10%;
        font-size:20px;
        font-family:'Noto Sans KR';
        font-weight: 500;
        color:white;
        text-align: center;
    }
    .CGbackBtn{
        position:absolute;
        width:2.5%;
        margin-left:5%;
        margin-top: 10%;
    }
    .CGdirection{
        flex:1.5;
    }
    .CGcards{
        display: flex;
        flex:6;
        flex-direction: column;
        overflow-y: scroll; 
        margin:5%;
        -ms-overflow-style: none;
    }
    .CGcards::-webkit-scrollbar{
        display:none;
      }
    .CGrow{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .CGrowCard{
        display:flex;
        flex:1;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
        flex-wrap: wrap;
        
    }
    .CGrowText{
        display: flex;
        margin-bottom: 3%;
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 20px;
        color:white;
    }
    .CGcard {
        width: 48.5%;
        height: fit-content;
        flex: 0 0 auto;
        /* height: 100%; */
        position: relative;
        margin-bottom: 1%;
      }

    .user-text{
        position:absolute;
        bottom: 5%;
        left:60%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 10px;
        text-align: center;
    }
   .CGeachCard{
        /* height: fit-content; */
        height: 100%;
   }

    .CGdirection{
        display: flex;
        flex:1.5;
        flex-direction: column;
        align-items: center;
    }

    .CGnotice{
        flex-direction: row;
        
    }
    .CGnoticeImg{
        position:absolute;
        width: 5%;
    }
    .CGnoticeText{
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 15px;
        color:white;

    }
    .CGshare{
        display: flex;
        font-family: 'GmarketSansMedium';
        font-size: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        width: 38%;
        height: 35%;
        border-radius: 50% / 50%;
        border-style: solid;
        border-width: 2px thin;
        color:rgba(222, 210, 249, 1);

    }
    
}