
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
  
    @media only screen and (min-device-width : 320px) and (max-device-width : 490px) {
     .CGmain {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* position: relative; */
        width: 100%;
        height: 100vh;
        flex-grow: 1;
        background-color:#393939;
        position:relative;
        /* padding:15px; */
        position: fixed;
        overflow:hidden;
        /* overflow-y: scroll; */
        padding-top: 5%;
        padding-left: 5px;
        padding-right: 5px;
        top: 0;
        left: 0;
        align-content:space-around;
    }
    .CGstatus{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex:0.7;
    }
    .CGmainText{
        margin-top: 10%;
        font-size:20px;
        font-family:'Noto Sans KR';
        font-weight: 500;
        color:white;
        text-align: center;
        border-bottom: 1px solid;
        padding-bottom: 5%;
    }
    .CGbackBtn{
        position:absolute;
        width:2.5%;
        margin-left:5%;
        margin-top: -15%;
    }
    .CGdirection{
        flex:1.5;
    }
    .CGcards{
        display: flex;
        flex:6;
        flex-direction: column;
        overflow-x:hidden;
        overflow-y: scroll;
        margin:5%;
        -ms-overflow-style: none;
    }
    .CGcards::-webkit-scrollbar{
        display:none;
      }
    .CGrow{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .CGrowCard{
        display:flex;
        flex:1;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
        flex-wrap: wrap;
        
    }
    .CGrowText{
        display: flex;
        margin-bottom: 3%;
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 20px;
        color:white;
    }
    .CGcard {
        width: 48.5%;
        height: fit-content;
        flex: 0 0 auto;
        /* height: 100%; */
        position: relative;
        margin-bottom: 3%;
      }

    .CGuser-text{
        position:absolute;
        bottom: 3%;
        left:60%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 40px;
        text-align: center;
    }
    .CGfrom-white{
        position:absolute;
        bottom:5%;
        text-align: right;
        right:15%;
        font-size:12px;
        font-family: 'GmarketSansMedium';  
    }
    .CGfrom-white-null{
        position:absolute;
        bottom:7%;
        text-align: right;
        right:10%;
        font-size:20px;
        font-family: 'PyeongChangPeace-Bold';  
    }
    .hubd-white{
        position:absolute;
        font-family: 'PyeongChangPeace-Bold';
        top: 18%;
        left:55%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 14px;
        text-align: left; 
    }
    .hubd-white-null{
        position:absolute;
        font-family: 'PyeongChangPeace-Bold';
        top: 15%;
        left:60%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 20px;
        text-align: left; 
    }

    .hubd-purple{
        position:absolute;
        font-family: 'PyeongChangPeace-Bold';
        top: 18%;
        left:55%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 14px;
        text-align: left; 
        color:rgba(250, 233, 82, 1)
    }
    .CGfrom-purple{
        position:absolute;
        bottom:5%;
        text-align: right;
        right:50%;
        font-size:12px;
        color:rgba(250, 233, 82, 1);
        font-family: 'GmarketSansMedium';
        
    }

    .CGfrom-yellow{
        position:absolute;
        bottom:5%;
        text-align: right;
        right:50%;
        /* margin-right: 5%; */
        font-size:12px;
        font-family: 'GmarketSansMedium';
        color:rgba(201, 102, 211, 1); 
    }
    .CGfrom-yellow-null{
        position:absolute;
        bottom:7%;
        text-align: right;
        right:10%;
        font-size:20px;
        font-family: 'PyeongChangPeace-Bold';
        color:rgba(201, 102, 211, 1); 
    }
    .hubd-yellow{
        position:absolute;
        font-family: 'PyeongChangPeace-Bold';
        top: 18%;
        left:55%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 14px;
        text-align: left; 
        color: rgba(201, 102, 211, 1);
    }
    .hubd-yellow-null{
        position:absolute;
        font-family: 'PyeongChangPeace-Bold';
        top: 15%;
        left:60%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 14px;
        text-align: left; 
        color: rgba(201, 102, 211, 1);
    }
    .CGfrom-orange{
        position:absolute;
        bottom:5%;
        text-align: right;
        right:50%;
        font-size:12px;
        font-family: 'GmarketSansMedium';
        color:rgba(213, 250, 82, 1);
        
    }
    .CGfrom-orange-null{
        position:absolute;
        bottom:7%;
        text-align: right;
        right:10%;
        font-size:20px;
        font-family: 'PyeongChangPeace-Bold';
        color:rgba(213, 250, 82, 1);
        
    }
    .hubd-orange{
        position:absolute;
        font-family: 'PyeongChangPeace-Bold';
        top: 18%;
        left:55%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 14px;
        text-align: left; 
        color: rgba(213, 250, 82, 1);
    }
    .hubd-orange-null{
        position:absolute;
        font-family: 'PyeongChangPeace-Bold';
        top: 15%;
        left:60%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 20px;
        text-align: left; 
        color: rgba(213, 250, 82, 1);
    }

   .CGeachCard{
        /* height: fit-content; */
        height: 100%;
   }

    .CGdirection{
        display: flex;
        flex:1.5;
        flex-direction: column;
        align-items: center;
    }

    .CGnotice{
        flex-direction: row;
        
    }
    .CGnoticeImg{
        position:absolute;
        width: 5%;
    }
    .CGnoticeText{
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 15px;
        color:white;

    }
    .CGshare{
        display: flex;
        font-family: 'GmarketSansMedium';
        font-size: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        width: 38%;
        height: 35%;
        border-radius: 50% / 50%;
        border-style: solid;
        border-width: 2px thin;
        color:rgba(222, 210, 249, 1);

    }
    
}