
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

    @media only screen and (min-device-width : 320px) and (max-device-width : 490px) {
     .MCmain {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* position: relative; */
        width: 100%;
        height: 100vh;
        flex-grow: 1;
        background-color:#393939;
        position:relative;
        /* position: fixed; */
        /* overflow-x: hidden; */
        overflow-y: scroll;
        padding-top: 5%;
        top: 0;
        left: 0;
        align-content:space-around;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .MCmain::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    .MCstatus{
        display: flex;
        flex-direction: column;
        flex:1;
        margin-top:3%;
        margin-bottom: 5%;
        position:relative;
        /* justify-content:left; */
    }
    .MCmainText{
        margin-top: 5%;
        font-size:20px;
        font-family:'Noto Sans KR';
        font-weight: 700;
        margin-top:10%;
        margin-left: 5%;
        color:white;
        text-align:left;
    }

    .MCstatusBar_empty{
        display: flex;
        flex-direction: row;
        /* background-color: rgba(250, 233, 82, 1); */
        background-color: rgba(222, 210, 249, 1);
        margin-top:-3%;
        margin-bottom: 3%;
        /* border-style:solid none;
        border-top: 1px solid;
        border-top-color: white;
        border-bottom: 1px solid;
        border-bottom-color: white; */
    }
    .barImg{
        width: 17px;
        height: 17px;
        /* height: 4.5%; */
        margin:5px;
        margin-left:5%;
    }
    .MCstatusBarText_empty{
        font-family: 'GmarketSansMedium';
        font-size : 9pt;
        margin-top : 11px;
        margin-bottom:13px;
        margin-left:5%;
    }

    .MCstatusBar_full{
        display: flex;
        flex-direction: row;
        /* background-color: rgba(250, 233, 82, 1); */
        margin-top:-3%;
        margin-bottom: 3%;
        border-style:solid none;
        border-top: 1px solid;
        border-top-color: white;
        border-bottom: 1px solid;
        border-bottom-color: white;
    }
    .MCstatusBarText_full{
        font-family: 'GmarketSansMedium';
        font-size: 9pt;
        margin:5px;
        margin-left: 5%;
        color: white;
    }

    .MCtags{
        display: flex;
        flex:1;
        flex-direction: column;
        margin-top:2%;
        margin-bottom: 2%;
        /* background-color: firebrick; */
    }
    .MCrow1{
        display: flex;
        flex-direction: column;
        /* margin-bottom: 5%; */
        width: 100%;
    }
    .MCrow2{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .MCrowText1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3%;
        font-family: 'Noto Sans KR';
        font-weight: 700;
        font-size:13pt;
        color:white;
        margin-left: 5%;
    }
    .MCsmall1{
        font-weight: 100;
        font-size: 8pt;
        margin-right: 5%;
        margin-top:2%;
        /* text-align: center; */
    }
    .MCrowTag{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 7%;
        overflow:auto;
        white-space: nowrap;
        -ms-overflow-style:none; /* IE and Edge */
        scrollbar-width:none; /* Firefox */
        /* background-color: aqua; */
    }
    .MCrowTag::-webkit-scrollbar {
        display:none;/* Chrome , Safari , Opera */
    }
    .MCrowTags{
        display:flex;
        flex:1;
        flex-direction: row;
        /* justify-content: space-between; */
        /* margin-bottom: 5%; */
        /* background-color: aliceblue; */
        /* overflow:auto;
        white-space: nowrap; */
        
    }

    .MCpink-BlankTag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:rgba(221, 123, 231, 1);
        border-style: solid;
        border-color: rgba(221, 123, 231, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        /* margin-bottom : 4%; */
        margin-right: 20px;
    }
    .MCgreen-BlankTag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:rgba(35, 233, 180, 1);
        border-style: solid;
        border-color: rgba(35, 233, 180, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right: 20px;
    }
    .MCblue-BlankTag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:rgba(145, 215, 224, 1);
        border-style: solid;
        border-color:rgba(145, 215, 224, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right: 20px;
    }
    .MCTag-null{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansBold';
        border-width: 1px;
        color:black;
        /* border-style: solid; */
        background-color:rgba(215, 215, 215, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right:20px;
    }

    .MCblue-Tag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:black;
        /* border-style: solid; */
        background-color:rgba(145, 215, 224, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right:20px;
    }
    .MCgreen-Tag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:black;
        background-color:rgba(35, 233, 180, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right:20px;
    }
    .MCorange-BlankTag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:rgba(255, 172, 75, 1);
        border-style: solid;
        border-color:rgba(255, 172, 75, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right:20px;
    }
    .MCorange-Tag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:black;
        background-color:rgba(255, 172, 75, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right:20px;
    }
    .MCpink-Tag{
        display:flex;
        font-size: 13px;
        font-family: 'GmarketSansMedium';
        border-width: 1px;
        color:black;
        background-color:rgba(221, 123, 231, 1);
        border-radius: 15px 15px;
        width:130px;
        height:30px;
        justify-content: center;
        align-items: center;
        margin-bottom : 4%;
        margin-right:20px;
    }
    
    /* -------------받은 카드----------- */
    .MCcards{
        display: flex;
        flex:3;
        flex-direction: column;
        margin-bottom: 7%;
        margin-left: 5%;
       
    }
    .MCrowText2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3%;
        font-family: 'Noto Sans KR';
        font-weight: 700;
        font-size: 13pt;
        color:white;
    }

    .MCrowCard{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .MCeachCard{
        /* width: 40%; */
        position: relative;
        height: 100%;
        margin-right: 3%;
   }

    .user-text{
        position:absolute;
        bottom: 5%;
        left:60%;
        width:100%;
        transform:translate(-50%, -50%);
        font-size: 8px;
        text-align: center;
    }
    .MCsmall2{
        font-weight: 100;
        font-size: 8pt;
        margin-top:2%;
    }
  
    .scroll-container {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: scroll;
        overflow-y: hidden;
        height: fit-content;
    }
    .scroll-container::-webkit-scrollbar {
        display:none;/* Chrome , Safari , Opera */
    }
      .card {
        width: 40%;
        height: 100%;
        flex: 0 0 auto;
        margin-right: 3%;
        position: relative;
       
      }

   /* ---------------정보------------ */
   .MCinfos{
        display: flex;
        flex:4;
        flex-direction: column;
        margin-left:5%;
        margin-right: 5%;
        /* background-color: antiquewhite; */
   }
   .MCrowInfo{
    display: flex;
    flex-direction: column;
    margin-top:2%;
    /* background-color: antiquewhite; */
   }
   .MCidpw{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-bottom: 5%;
    align-items: center;
   }
   .MCname{
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 15px;
    color:white;
    margin-right: 7%;
   }
   .MCuser{
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-size: 15px;
    color:white;
    padding-bottom: 2%;
   }

    .MCnoticeText{
        font-family: 'Noto Sans KR';
        font-weight: 100;
        font-size: 13px;
        text-decoration:underline;
        color:white;
        margin-top:0%;
        margin-bottom: 2%;
        justify-content: left;

    }
    .MCnotices{
        margin-bottom: 2%;
        text-align: left;
    }
}