<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
    <link rel="stylesheet" href="../../static/pc_ver/pc_ver.css">
</head>
<body>
    <div class='pcMain'>
        <div class="parties">
            <img src="../../public/img/colors.png"/>
            <img src="../../public/img/colors.png"/>
        </div>
        <div class="mains">
            <img class="pcLogo" src="/Users/iyunju/Documents/GitHub/unbirthday-front/public/img/bt_logo.png"/>
            <div class='texts'>
                생일이 아니더라도, 오늘을 축하해!<br></br>
                모바일로 언버스데이 카드를 주고 받아 보세요 :)
            </div>
        </div>
    </div>
</body>
</html>