/* @font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('./font/PyeongChangPeace-Light.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
} */
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* @font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('./font/PyeongChangPeace-Bold.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
} */

/* @font-face {
    font-family: 'GmarketSansLight';
    src: url('./font/GmarketSansLight.otf') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    /* @font-face {
        font-family: 'GmarketSansMedium';
        src: url('./font/GmarketSansMedium.otf') format('woff');
        font-weight: normal;
        font-style: normal;
    } */
    /* @font-face {
        font-family: 'GmarketSansBold';
        src: url('./font/GmarketSansBold.otf') format('woff');
        font-weight: normal;
        font-style: normal;
    } */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
    /* @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Bold.otf') format('otf');
        font-weight: 700;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Light.otf') format('otf');
        font-weight: 300;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Regular.otf')format('otf');
        font-weight: 400;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Medium.otf') format('otf');
        font-weight: 500;
    } */
     .CS2main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* position: relative; */
        width: 100%;
        height: 100vh;
        flex-grow: 1;
        background-color:#393939;
        position:relative;
        /* padding:15px; */
        position: fixed;
        overflow: hidden;
        padding-top:5%;
        padding-left: 3%;
        padding-right: 3%;
        top: 0;
        left: 0;
        align-items:center;
    }
    .CS2btnBack{
        display: flex;
        flex-direction: row;
        width:100%;
        padding-left:10%;
        padding-top: 5%;
        
    }
    .CS2backBtn{
        width:3.5%;
    }
    .CS2mainText{
        display: flex;
        flex-direction: row;
        flex:0.3;
        text-align:center;
        justify-content: center;
        align-items: center;
        vertical-align:text-top;
        font-size:18px;
        font-family:'Noto Sans KR';
        font-weight: 500;
        margin-left:7%;
        margin-right:7%;
        color:#ffffff;
    }

    .CS2yelloBox{
        display: flex;
        flex-direction: column;
        flex:1;
        position:relative;
        /* margin-bottom: 20%; */
        margin-left: 7%;
        margin-right: 7%;
    }
    
    .CS2yelloBox img{
        width:100%;
        height: 100%;
    }
    
    
    .CS2insideYellow{
        /* background-color: chartreuse; */
        display: flex;
        /* object-fit: cover; */
        width: 90%;
        height: 90%;
        top:0;
        left:0;
        flex-direction: column;
        flex:5;
        position:absolute;
        padding:5%;
        text-align: center;
        
        /* justify-content: space-between; */
    }
    .CS2write{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .CS2toPerson{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1;
        margin-top: 10%;
        /* background-color: aquamarine; */
    }
    .CS2fromPerson{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex: 1;
        margin-bottom: 15%;
        /* background-color: aquamarine; */
    }
    .CS2to{
        display: flex;
        flex-direction: column;
        /* height: 100%; */
        justify-content: flex-start;
    }
    .CS2notice{
        display: flex;
        flex-direction: row;
        /* flex:0.4; */
        color:rgba(0, 0, 0, 0.5);
        font-family: 'Noto Sans KR';
        font-size: 7px;
        margin-top: 1%;
    }
    .CS2nameBox{
        display: flex;
        /* flex:1; */
        width:35%;
        height: 18%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2%;
    }
    .CS2nameBox input[type=text] {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        font-family: 'Noto Sans KR';
        font-size: 11pt;
        color: rgba(0, 0, 0, 0.5);

        height: 100%;
        width: 100%;
        border: 1px solid #e0e0e0;
        padding:10%;
        border-radius: 15px;/* 굴곡 주면 padding 값도 그에 상응하게 적용하는 것이 좋음 */
    }

    .CS2writeBack{
        display: flex;
        flex-direction: row;
        flex:0.1;
        justify-content: center;
        align-items: center;
        margin-bottom: 20%;
        margin-top: 5%;
        width: 40%;
    
        /* background-color: yellowgreen; */
    }
    