/* @font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('./font/PyeongChangPeace-Light.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
} */
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* @font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('./font/PyeongChangPeace-Bold.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
} */

/* @font-face {
    font-family: 'GmarketSansLight';
    src: url('./font/GmarketSansLight.otf') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    /* @font-face {
        font-family: 'GmarketSansMedium';
        src: url('./font/GmarketSansMedium.otf') format('woff');
        font-weight: normal;
        font-style: normal;
    } */
    /* @font-face {
        font-family: 'GmarketSansBold';
        src: url('./font/GmarketSansBold.otf') format('woff');
        font-weight: normal;
        font-style: normal;
    } */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
    /* @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Bold.otf') format('otf');
        font-weight: 700;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Light.otf') format('otf');
        font-weight: 300;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Regular.otf')format('otf');
        font-weight: 400;
    }
    @font-face {
        font-family: 'Noto Sans KR';
        src : url('../font/NotoSansKR-Medium.otf') format('otf');
        font-weight: 500;
    } */
     .CS3main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* position: relative; */
        width: 100%;
        height: 100vh;
        flex-grow: 1;
        background-color:#393939;
        position:relative;
        /* padding:15px; */
        position: fixed;
        overflow: hidden;
        padding-top:5%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom:15%;
        top: 0;
        left: 0;
        align-items:center;
    }
    .CS3btn{
        display: flex;
        flex-direction: row;
        width:100%;
        padding-left:10%;
        padding-top: 5%;
    }
    .CS3backBtn{
        width:3.5%;
    }
    .CS3mainText{
        display: flex;
        flex-direction: row;
        flex:0.3;
        text-align:center;
        align-items: center;
        vertical-align:text-top;
        /* font-size:17px; */
        font-family:'Noto Sans KR';
        font-weight: 500;
        margin-left:7%;
        margin-right:7%;
        margin-bottom:5%;
        color:#ffffff;
    }

    .CS3yelloBox{
        display: flex;
        flex-direction: column;
        flex:1;
        position:relative;
        /* margin-bottom: 20%; */
        margin-left: 7%;
        margin-right: 7%;
    }
    
    .CS3yelloBox img{
        width:100%;
        height: 100%;
    }
    
    
    .CS3insideYellow{
        display: flex;
        /* object-fit: cover; */
        width: 90%;
        height: 90%;
        top:0;
        left:0;
        flex-direction: column;
        flex:5;
        position:absolute;
        padding:5%;
        text-align: center;
        
    }
    .CS3personName{
        display: flex;
        flex:0.7;
        margin-top: 6%;
        font-family:'PyeongChangPeace-Bold';
        font-size: 18pt;
        font-weight:bold;
        text-align: left;
        color:rgba(201, 102, 211, 1);
        
    }
    
    .CS3tagMessage{
        display: flex;
        flex-direction: column;
        flex:2;
        padding-top:2%;
        padding-bottom: 2%;
        justify-content: center;
        /* align-items: stretch; */
        justify-content: space-evenly;
        
    }
    .CS3temp{
        display: flex;
        justify-content: space-evenly;
    }
    .CS3tagSpace{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 53%;
    }
    .CS3textSpace{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .CS3subText{
        font-family: 'PyeongChangPeace-Light';
        font-size: 10pt;
    }
    .CS3tag{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 10pt;
        background-color: black;
        border-radius: 20px 20px;
        width: 100%;
        height: 100%;
        margin-top:6%;
        margin-bottom: 6%;
        color:white;

    }
    
    .CS3writeMessage{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border-color: rgba(0, 0, 0, 0.5);
        border-style:solid;
        border-width: 0.01px;
        padding-top:5%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
        font-family: 'Noto Sans KR';
        font-weight: 100;
        font-size: 10pt;
        margin-bottom: 2%;
    }
    .CS3numCnt{
        font-family: 'Noto Sans KR' ;
        color:rgba(0, 0, 0, 0.5);
        font-size: 8px;
        margin-bottom:2%;
    }
    .CS3notice{
        display: flex;
        flex-direction: row;
        /* flex:0.4; */
        justify-content: flex-start;
        color:rgba(0, 0, 0, 0.5);
        font-family: 'Noto Sans KR';
        font-size: 9px;
    }

    .CS3complete{
        display: flex;
        flex-direction: row;
        flex:0.1;
        justify-content: center;
        align-items: center;
        margin-bottom: 20%;
        margin-top: 5%;
        width: 40%;
    }
  