
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

     .CS3main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* position: relative; */
        width: 100%;
        height: 100vh;
        flex-grow: 1;
        background-color:#393939;
        position:relative;
        /* padding:15px; */
        position: fixed;
        overflow-y: scroll;
        padding-top:5%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 15%;
        top: 0;
        left: 0;
        align-items:center;
    }
    .CS3btn{
        display: flex;
        flex-direction: row;
        width:100%;
        padding-left:10%;
        padding-top: 2%;
    }
    .CS3backBtn{
        width:3.5%;
    }
    .CS3mainText{
        animation: fadeInUp1 1.5s;
        -webkit-animation: fadeInUp1 1.5s;
        display: flex;
        flex-direction: row;
        flex:0.3;
        text-align:center;
        align-items: center;
        vertical-align:text-top;
        font-size:17px;
        font-family:'Noto Sans KR';
        font-weight: 500;
        margin-left:7%;
        margin-right:7%;
        margin-top:2%;
        margin-bottom:6%;
        color:#ffffff;
    }

    .CS3yelloBox{
        animation: fadeInUp1 1.5s;
        -webkit-animation: fadeInUp1 1.5s;
        display: flex;
        flex-direction: column;
        flex:1;
        position:relative;
        /* margin-bottom: 20%; */
        margin-left: 7%;
        margin-right: 7%;
        /* padding-left: 5%; */
    }
    
    .CS3yelloBox img{
        width:90%;
        height: 100%;
        
    }
    
    
    .CS3insideYellow{
        display: flex;
        /* object-fit: cover; */
        width: 90%;
        height: 90%;
        top:0;
        left:0;
        /* padding: 5%; */
        flex-direction: column;
        flex:5;
        position:absolute;
        padding:5%;
        text-align: center;
        /* padding-left: 5%; */
        
    }
    .CS3personName{
        display: flex;
        flex:0.7;
        margin-top: 6%;
        margin-left: 5%;
        font-family:'PyeongChangPeace-Bold';
        font-size: 16pt;
        margin-left: 5%;
        font-weight:bold;
        text-align: left;
        color:rgba(201, 102, 211, 1);
        
    }
    .CS3personNameforOrange{
        display: flex;
        flex:0.7;
        margin-top: 6%;
        font-family:'PyeongChangPeace-Bold';
        font-size: 16pt;
        margin-left: 5%;
        font-weight:bold;
        text-align: left;
        color:rgba(213, 250, 82, 1);
    }
    .CS3personNameforWhite{
        display: flex;
        flex:0.7;
        margin-top: 6%;
        font-family:'PyeongChangPeace-Bold';
        font-size: 16pt;
        margin-left: 5%;
        font-weight:bold;
        text-align: left;
        color:black;
    }
    .CS3personNameforPurple{
        display: flex;
        flex:0.7;
        margin-top: 6%;
        font-family:'PyeongChangPeace-Bold';
        font-size: 16pt;
        margin-left: 5%;
        font-weight:bold;
        text-align: left;
        color:rgba(250, 233, 82, 1);
    }
    .CS3tagMessage{
        display: flex;
        flex-direction: column;
        flex:2;
        padding-top:2%;
        padding-bottom: 2%;
        justify-content: center;
        /* background-color: #393939; */
        margin-left: 3%;
        margin-right: 3%;
        /* align-items: stretch; */
        justify-content: space-evenly;
        
    }
    .CS3temp{
        display: flex;
        justify-content: space-evenly;
        /* padding:10%; */
    }
    .CS3tagSpace{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 49%;
    }
    .CS3textSpace{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin-left: 5%; */
        /* margin-right: 3%; */
        /* background-color: blue; */
        
    }
    .CS3subText{
        font-family: 'GmarketSansMedium';
        font-size: 10pt;
        color:black;
    }
    .CS3tag{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'GmarketSansMedium';
        font-weight: 700;
        font-size: 9pt;
        background-color: black;
        border-radius: 20px 20px;
        width: 100%;
        height: 100%;
        margin-top:6%;
        margin-bottom: 6%;
        color:white;

    }
    .CS3tag-yellow{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'GmarketSansMedium';
        font-weight: 700;
        font-size: 9pt;
        background-color: rgba(201, 102, 211, 1);
        border-radius: 20px 20px;
        width: 100%;
        height: 100%;
        margin-top:6%;
        margin-bottom: 6%;
        color:white;
    }
    .CS3tag-orange{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'GmarketSansMedium';
        font-weight: 700;
        font-size: 9pt;
        background-color: rgba(213, 250, 82, 1);
        border-radius: 20px 20px;
        width: 100%;
        height: 100%;
        margin-top:6%;
        margin-bottom: 6%;
        color:black;
    }
    .CS3tag-purple{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'GmarketSansMedium';
        font-weight: 700;
        font-size: 9pt;
        background-color: rgba(250, 233, 82, 1);
        border-radius: 20px 20px;
        width: 100%;
        height: 100%;
        margin-top:6%;
        margin-bottom: 6%;
        color:black;
    }
    
    .CS3writeMessage{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        color:black;
        background-color:white;
        border-color: rgba(0, 0, 0, 0.5);
        border-style:solid;
        border-width: 0.01px;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 3%;
        margin-right:3%;
        font-weight: 100;
        font-size: 10pt;
        margin-bottom: 2%;
    }
    .memo{
        position:relative;
        border-width: 0;
        background-color: rgba(246, 246, 246, 1);
        
        height: 70%;
        text-align: left;
        font-family: 'GmarketSansMedium';
        padding-left: 5%;
        font-weight: 500;
        font-size: 9pt;
        line-height:160%;
    }
    .CS3numCnt{
        position:absolute;
        font-family: 'Noto Sans KR' ;
        color:rgba(0, 0, 0, 0.5);
        font-size: 8px;
        right: 10%;
        bottom:11.5%;
    }
    .CS3notice{
        display: flex;
        flex-direction: row;
        /* flex:0.4; */
        justify-content: flex-start;
        color:rgba(0, 0, 0, 0.5);
        font-family: 'Noto Sans KR';
        font-size: 9px;
    }

    .CS3complete{
        display: flex;
        flex-direction: row;
        flex:0.1;
        justify-content: center;
        align-items: center;
        margin-bottom: 20%;
        margin-top: 5%;
        width: 40%;
  
        /* background-color: yellowgreen; */
    }
