/* @font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('./font/PyeongChangPeace-Light.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
} */
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
    
    .SF1main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color:#393939;
        position:relative;
        position: fixed;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 15%;
        top: 0;
        left: 0;
        align-items: center; 
    }
    .SF1colors{
        display: flex;
        flex:0.7;
        width:50%;
        left:0;

    }
    .SF1color{
        animation: explode 3s;
        width: 100%;
    }
    .SF1texts{
        display: flex;
        flex:1.5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        text-align:center;
    }
    .SF1mainText{
        animation: fadeInUp 2s;
        -webkit-animation: fadeInUp 2s;
        /* animation-delay: 1500ms; */
        animation-fill-mode: none, forwards;
        -webkit-backface-visibility: hidden;
        font-size:35px;
        font-family:'Noto Sans KR';
        font-weight: 700;
        color:#ffffff;
        margin-bottom: 3%;
    }
    .SF1subText{
        animation: fadeInUp 4500ms;
        -webkit-animation: fadeInUp 4500ms;
        font-size:19px;
        font-family:'Noto Sans KR';
        font-weight: 400;
        color:#ffffff;
        margin-bottom: 5%;
    }
    .SF1subTextCombine{
        animation: fadeInUp 4500ms;
        -webkit-animation: fadeInUp 4500ms;
        font-size:19px;
        font-family:'Noto Sans KR';
        font-weight: 400;
        color:#ffffff;
        margin-bottom: 5%;
        position:relative;
    }

    .SF2btnCombine{
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        width: 40%;
        height: 25%;
        justify-content: center;
        align-items: center;
        position:absolute;

    }
    .SF1cakes{
        /* animation: slideUp 1500ms; */
        /* animation-timing-function: ease-in; */
        /* -webkit-backface-visibility: hidden; */
        animation: bounce-in-bottom 1.1s both;
        -webkit-animation: bounce-in-bottom 1.1s both;
        display: flex;
        /* flex-direction: row; */
        width: 100%;
        flex:2.5;
        /* background-color:darkkhaki; */
        /* margin-bottom; */
    }
    .SF1cake{
        width: 100%;
        /* margin-bottom: 10%; */
    }
    .SF1letter{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        /* align-items: flex-end ; */
        /* background-color: aqua; */
        flex:1;

    }
    .SF1letters{
        display: flex;
        flex-direction: row;
        font-size: 30px;
        width: 15%;
        margin-bottom: 10%;
        margin-right: 5%;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border-color: rgba(222, 210, 249, 1);
        border-style: solid;
        border-width: 2px;
    }
@keyframes slideUp {
    0%,
    50% {
        transform: translateY(100%);
        opacity: 0;
    }
        
    60%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes explode {
    0% {
        opacity: 0;
    }
    70%{
        opacity: 0;
        transform: scale(0.2) translate3d(0, 50%, 0);
    }
    80% {
        transform: scale(1.8);
    }
    100%{
        opacity: 1;
        transform: scale(1) translateZ(0);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-6 22:44:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-bottom {
    0% {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(65px);
              transform: translateY(65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(28px);
              transform: translateY(28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-bottom {
    0% {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(65px);
              transform: translateY(65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(28px);
              transform: translateY(28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }