/* @font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('./font/PyeongChangPeace-Light.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
} */
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* @font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('./font/PyeongChangPeace-Bold.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
} */

/* @font-face {
    font-family: 'GmarketSansLight';
    src: url('./font/GmarketSansLight.otf') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

    .SF3main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color:#393939;
        position:relative;
        position: fixed;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 15%;
        top: 0;
        left: 0;
        align-items: center; 
    }
    .SF3alerts-toast{
        font-family: 'Noto Sans KR';
        font-weight: 500;
        background-color: rgba(222, 210, 249, 1);
        border-radius: 10px;
        padding: 4px 2px;
        position: relative;
        top: -1rem !important;

    }
    .SF3alerts{
        display: flex;
        justify-content: center;
        background-color: rgba(222, 210, 249, 1);
        border-radius: 10px 10px;
        width: 90%;
        font-family: 'Noto Sans KR';
        font-weight: 500;
        margin-bottom: 5%;

    }
    .SF3alerts div{
        margin:1%;
    }
    .SF3colors{
        display: flex;
        flex:0.7;
        width:50%;
        left:0;

    }
    .SF3color{
        width: 100%;
        margin-top: -30%;
        z-index: -1;
    }
    .SF3texts{
        display: flex;
        flex:1.5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        text-align:center;
    }
    .SF3mainText{
        font-size:35px;
        font-family:'Noto Sans KR';
        font-weight: 700;
        color:#ffffff;
        margin-bottom: 3%;
    }
    .SF3btn{
        display: flex;
        flex-direction: row;
        margin: 5%;

        width: 40%;
        height: 25%;
        justify-content: center;
        align-items: center;



    }
    .SF3cakes{
        display: flex;
        width: 100%;
        flex:2.5;
    }
    .SF3cake{
        width: 100%;
    }