.background{
    position: relative;
    pointer-events: none;
    user-select: none;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.framer-6wZMz{
    display: contents;
}

.framer-72rtr7{
    min-height: 100%;
    width: auto;
}

.unbirth-1{
    position:absolute;
    pointer-events:none;
    user-select:none;
    border-radius:inherit;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.unbirth-2{
    display:contents;
    border-radius:inherit;
    pointer-events:none;
}

.unbirth-3{
    pointer-events:none;
    user-select:none;
    display:block;
    width:100%;
    height:100%;
    border-radius:inherit;
    object-position:center;
    object-fit:cover;
    image-rendering:auto;
}

.unbirth-4{
    position:absolute;
    pointer-events:none;
    user-select:none;
    border-radius:inherit;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.unbirth-5{
    display:contents;
    border-radius:inherit;
    pointer-events:none;
}

.unbirth-6{
    pointer-events:none;
    user-select:none;
    display:block;
    width:100%;
    height:100%;
    border-radius:inherit;
    object-position:center;
    object-fit:cover;
    image-rendering:auto;
}

.framer-p79by9_rich-text-wrapper{
    outline:none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-shrink:0;
    white-space:pre-wrap;
    word-wrap:break-word;
    word-break:break-word;
    --framer-link-hover-text-color:#666;
    --framer-link-current-text-color:hsl(0, 0%, 0%);
    --framer-paragraph-spacing:0px;
    --extracted-1w3ko1f:rgb(255, 255, 255);
    transform:none;
}

.unbirth-7{
    --framer-line-height:1em;
    --framer-text-alignment:center;
}

.unbirth-8{
    --framer-font-family:&quot;
    --framer-font-style:normal;
    --framer-font-weight:500;
    --font-selector:R0Y7QmUgVmlldG5hbSBQcm8tNTAw;
    --framer-text-color:var(--extracted-1w3ko1f);
}

.framer-1lnnpoq_rich-text-wrapper{
    outline:none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-shrink:0;
    white-space:pre-wrap;
    word-wrap:break-word;
    word-break:break-word;
    --framer-link-hover-text-color:#666;
    --framer-link-current-text-color:hsl(0, 0%, 0%);
    --framer-paragraph-spacing:0px;
    --extracted-1w3ko1f:rgb(153, 153, 153);
    transform:none;
}

.unbirth-9{
    --framer-line-height:1em; 
    --framer-text-alignment:center;
}

.unbirth-10{
    --framer-font-style:normal; 
    --framer-font-weight:500; 
    --font-selector:R0Y7QmUgVmlldG5hbSBQcm8tNTAw; 
    --framer-text-color:var(--extracted-1w3ko1f);
}

.framer-si2tk6_rich-text-wrapper{
    outline:none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-shrink:0;
    white-space:pre-wrap;
    word-wrap:break-word;
    word-break:break-word;
    --framer-link-text-color:rgb(0, 153, 255);
    --framer-link-text-decoration:underline;
    --framer-paragraph-spacing:0px;
    --extracted-1w3ko1f:rgb(242, 228, 34);
    --extracted-5dqwso:rgb(242, 228, 34);
    --extracted-1sfm3sg:rgb(242, 228, 34);
    transform:none;
}

.unbirth-11{
    --framer-line-height:2em;
}

.unbirth-12{
    --framer-font-style:normal; 
    --framer-font-weight:400; 
    --font-selector:Q1VTVE9NO1VoQmVlIEtlb25nS2VvbmcgUmVndWxhcg==; 
    --framer-text-color:var(--extracted-1w3ko1f); 
    --framer-font-size:29px;
}

.unbirth-13{
    --framer-line-height:2em;
}

.unbirth-14{
    --framer-font-style:normal; 
    --framer-font-weight:400; 
    --font-selector:Q1VTVE9NO1VoQmVlIEtlb25nS2VvbmcgUmVndWxhcg==; 
    --framer-text-color:var(--extracted-5dqwso); 
    --framer-font-size:29px;
}

.unbirth-15{
    --framer-line-height:2em;
}

.unbirth-16{
    --framer-font-style:normal; 
    --framer-font-weight:400; 
    --font-selector:Q1VTVE9NO1VoQmVlIEtlb25nS2VvbmcgUmVndWxhcg==; 
    --framer-text-color:var(--extracted-1sfm3sg); 
    --framer-font-size:29px;
}

.unbirth-17{
    position:absolute;
    pointer-events:none;
    user-select:none;
    border-radius:inherit;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.unbirth-18{
    display:contents;
    border-radius:inherit;
    pointer-events:none;
}

.unbirth-19{
    pointer-events:none;
    user-select:none;
    display:block;
    width:100%;
    height:100%;
    border-radius:inherit;
    object-position:center;
    object-fit:cover;
    image-rendering:auto;
}

.framer-1wdfkx9_rich-text-wrapper{
    outline:none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-shrink:0;
    white-space:pre;
    --framer-paragraph-spacing:0px;
    --extracted-1w3ko1f:rgb(242, 228, 34);
    transform:none;
}

.unbirth-20{
    --framer-text-alignment:center;
}

.unbirth-21{
    --framer-font-style:normal; 
    --framer-font-weight:500; 
    --font-selector:R0Y7Tm90byBTYW5zIEtSLTUwMA==; 
    --framer-text-color:var(--extracted-1w3ko1f); 
    --framer-font-size:22px;
}

.unbirth-22{
    position: absolute;
    overflow: hidden; 
    top: 0; 
    left: 0; 
    width: 0; 
    height: 0;
}